# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.env
.venv
venv/
env/
ENV/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Build files
build/
dist/
*.egg-info/
.eggs/

# Logs
*.log

# Cache
.cache/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Streamlit secrets
.streamlit/secrets.toml

# Dataset folders
train/
valid/
test/

# YOLO training outputs
runs/

# Large dataset archives
*.zip
*.rar
*.7z

# Ignore all model weights
*.pt

# BUT keep deployed model
!models/
!models/best.pt

# OS files
.DS_Store
Thumbs.db

# Temporary files
tempCodeRunnerFile.py

# Coverage
.coverage
coverage.xml
htmlcov/

# PyCharm
.idea/

# Spyder
.spyproject
.spyderproject

# Runtime files
*.pid
*.seed